<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reccoon</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        <style>
            ul { list-style-type: none; }
        </style>
    </head>
    <body>
        <div>
            <h1>Upload new CSV File</h1>
            <form action="upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload file">
            </form>
        </div>
        <div>
            <h1>Uploaded Files</h1>
            <ul>
                {% for name in file_names %}
                <li style="font-size: 15pt"> {{name[0]}} <a href="../raw-data/{{name[0]}}"> {{name[1]}} </a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
